fastapi
uvicorn
langgraph
langchain
langchain-groq
tavily-python
python-dotenv
pydantic
sqlalchemy
asyncpg
psycopg2-binary
langgraph-checkpoint-postgres
psycopg-pool
sentence-transformers
pgvector
langchain-postgres
langchain-huggingface
langsmith